@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import "tailwindcss";




:root {

  --bg: #F3F4F6;           
  --sidebar-bg: #f8f8f8;  
  --panel-bg: #fffdfc;     
  --card-bg: #FFFFFF;      


  --text-primary: #111827;
  --text-secondary: #6B7280;
  --text-heading: #374151;


  --hover-bg: #E4EFE7;
  --btn-bg: #F3F4F6;
  --btn-hover: #E5E7EB;


  --accent: #99BC85;
  --accent-hover: #4F46E5;


  --border-color: #E5E7EB;
}



.dark {
 
  --bg: #111111;             
  --sidebar-bg: #171717;    
  --panel-bg: #1C1C1C;       
  --card-bg: #262626;      


  --text-primary: #FFFFFF;
  --text-secondary: #A1A1AA;
  --text-heading: #D4D4D8;


  --hover-bg: #2F2F2F;
  --btn-bg: #2A2A2A;
  --btn-hover: #3A3A3A;

  --accent: #4F46E5;
  --accent-hover: #4338CA;

  --border-color: #2A2A2A;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}


::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.react-loading-skeleton {
  background-color: #afb2b6 !important;
  animation: none !important;
}

.react-loading-skeleton::after {
  animation: none !important;
}